.event {
	width: 90%;
}
.event-left {
	flex: 2;
}

.event-title {
	font-size: 130%;
}

.event-date {
	color: #AAA;
	font-size: 105%;
	/*margin-top: 20px;*/
}

.event-description {
	font-size: 90%;
	flex: 3;
}

.future {
	background-color: #404040;
	color: #FFFFFF;
}

.past {
	background-color: #303030;
	color: #E6E6E6;
}